:root {
    --primary-color: #80371e;
    --secondary-color: #bac04d;
    --body-bg-color: #ececed;
    --card-title-color: #80371e;
    /* Color for card titles */
    --card-text-color: #666;
    /* Color for card text */
    --link-color: #ff422d;
    /* Color for links */
    --icon-color: #bac04d;
    /* Color for icons */
    --table-header-bg: #80371e;
    /* Background color for table headers */
    --table-header-text: #fff;
    /* Text color for table headers */
    --table-row-hover-bg: #f8f9fa;
    /* Background color for hovered table rows */
}

body {
    background-color: var(--body-bg-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--primary-color);
}

.navbar {
    width: 100%;
    padding: 0rem;
    margin: 0;
    background-color: var(--primary-color);
}

.navbar .navbar-brand {
    font-size: 1.5rem;
}

.navbar .nav-link {
    line-height: 2rem;
}

.dropdown-menu {
    min-width: 10rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin-top: auto;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


.btn-secondary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:disabled,
a[disabled] {
    pointer-events: none;
    cursor: default;
    color: #999;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    padding: 0;
    margin: 0;
}

/* Styles for content section */
.content .card-title {
    color: var(--card-title-color);
}

.content .card-text {
    color: var(--card-text-color);
}

.content .card-body i {
    color: var(--icon-color);
}

/* Table styling */
table.table-hover {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
}

table.table-hover th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    padding: 0.75rem;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table.table-hover td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table.table-hover tbody tr:hover {
    background-color: var(--table-row-hover-bg);
}